.dropzone {
  padding-top: 100px;
  padding-bottom: 95px;
  position: relative;
  overflow: hidden;
  background-color: #f4f2ef;
  border: 1px dashed #b8b8b8;
  text-align: center;
  color: #656d78;
}

.btn-primary {
  color: #fff;
  background-color: #60b8d4;
  border-color: #60b8d4;
}
