<div>
  <div class="dropzone" ng-if="$ctrl.progress">
    <div layout="column" layout-padding layout-align="center center">
      <span ng-if="$ctrl.progress != '100'" layout="row" class="md-headline">Aguarde, carregando arquivo</span>
      <span ng-if="$ctrl.progress == '100'" layout="row" class="md-headline">Arquivo pronto para download</span>
    </div>
    <div flex="90" flex-offset="5">
      <md-progress-linear md-mode="determinate" value="{{$ctrl.progress}}"></md-progress-linear>
    </div>
    </br>

    <li style="font:smaller">Nome do arquivo convertido:</li> {{$ctrl.fileStructure.name}}
    </br>
    </br>

    <md-button class="md-raised md-accent" aria-label="Carregar Resultados" ng-click="$ctrl.download()">
      <span style="margin-right:8px">Download do arquivo</span>
    </md-button>
  </div>

  <div class="dropzone" ng-hide="$ctrl.progress" ng-model="file" ngf-pattern="$ctrl.fileFormats" accept="$ctrl.fileFormats"
    ngf-multiple="false" ngf-drop ngf-select="$ctrl.fileUpload($file)" ngf-drag-over-class="'dragover'">
    <div class="sm-hidden">
      <h3>Solte os arquivos aqui</h3>
      <h3>ou</h3>
    </div>
    <p>
      <md-button class="md-raised md-accent" aria-label="Carregar Resultados">
        <span style="margin-right:8px">Selecione arquivos do seu computador</span>
      </md-button>
    </p>
    <p ngf-no-file-drop>O arquivo não é compatível</p>
    <p>
      <small>Os seguintes formatos de arquivo são suportados: {{$ctrl.fileFormats}}</small>
    </p>
  </div>
</div>