<div ng-app="normalizerjs.uxComponent" ng-controller="FileUploadController">
  <div ng-if="progress">
    <div layout="column" layout-padding layout-align="center center">
      <span layout="row" class="md-headline">Aguarde, carregando arquivo</span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
        Progresso do processamento do arquivo: {{progress}}
      </div>
    </div>
    <hr>
    <ul>
      <li style="font:smaller">{{file.name}}</li>
    </ul>
  </div>

  <div class="dropzone" ng-hide="progress" ng-model="file" ngf-pattern="'.xlsx,.csv'" accept=".xlsx,.csv" ngf-multiple="false"
    ngf-drop ngf-select="upload($file)" ngf-drag-over-class="'dragover'">
    <div class="sm-hidden">
      <h3>Solte os arquivos aqui</h3>
      <h3>ou</h3>
    </div>
    <p>
      <md-button class="md-raised md-accent" aria-label="Carregar Resultados">
        <span style="margin-right:8px">Selecione arquivos do seu computador</span>
      </md-button>
    </p>
    <p ngf-no-file-drop>O arquivo não é compatível</p>
    <p>
      <small>Os seguintes formatos de arquivo são suportados: .csv .xls</small>
    </p>
  </div>
</div>