<section layout="row" flex="">
  <md-sidenav md-component-id="left" md-whiteframe="5">

    <md-toolbar class="md-primary md-whiteframe-1dp md-hue-3" layout-padding>
      <div class="md-toolbar-tools" layout-margin>

        <img src="app/static-resource/image/coruja_pesquisadora.png" class="toolbar-icon"></img>
        <br>
        <div layout-padding>
          <span class="md-title">OTUS Solutions</span><br>
          <span class="md-caption">
        <md-icon md-font-set="material-icons">widgets</md-icon>
        NORMALIZER
      </span>
        </div>


      </div>
    </md-toolbar>

    <md-list ng-repeat="center in $ctrl.centers" class="ng-scope" layout='row' layout-padding>
      <md-button ng-click="$ctrl.route(center.state)" layout-align='start center'>{{center.name}}</md-button>
    </md-list>
  </md-sidenav>

  <md-content flex="">
    <md-toolbar class="md-primary md-whiteframe-1dp md-primary">
      <div class="md-toolbar-tools md-padding" layout-padding>
        <span>
      <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggleLeft()">
      <md-icon md-font-set="material-icons">menu</md-icon>

      </md-button>
      OTUS NORMALIZER
    </span>


      </div>
    </md-toolbar>

    <div layout="column" layout-align="top center">
      <div class="text-content" layout-padding>
        <div flex layout="row" class="md-body-2" ui-view></div>
      </div>
    </div>
  </md-content>
</section>
