<section layout="row" flex>
  <md-content layout="column" flex>
    <div layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-1dp" md-component-id="left" style="z-index: 1000 !important">
        <md-toolbar class="md-primary md-whiteframe-1dp">
          <div class="md-toolbar-tools" layout-margin>
            <img src="app/static-resource/image/coruja_pesquisadora.png" class="toolbar-icon"></img>
            <br>
            <div layout-padding>
              <span class="md-title">OTUS Solutions</span>
              <br>
              <span class="md-caption">
                <md-icon md-font-set="material-icons">widgets</md-icon>
                NORMALIZER
              </span>
            </div>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item ng-repeat="center in $ctrl.centers" >
            <div layout-align="start center">
              <md-button ng-click="$ctrl.route(center.state)" style="text-align: left" layout-padding>
                <span>
                  {{center.name}}
                </span>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
      </md-sidenav>
    </div>

    <div flex layout="column">
      <md-toolbar class="md-primary md-whiteframe-1dp md-primary">
        <div class="md-toolbar-tools md-padding" layout-padding>
          <md-button ng-click="$ctrl.toggleLeft()" style="padding: 15px;">
            <md-icon md-font-set="material-icons">menu</md-icon>
            <span style="position: relative; top:1.5px;">
              OTUS NORMALIZER
            </span>
          </md-button>
        </div>
      </md-toolbar>

      <div layout="row" flex>
        <div layout="column" flex>
          <md-content layout="row" flex>
            <div flex layout="column" class="md-body-2" ui-view></div>
          </md-content>
        </div>
      </div>
    </div>
  </md-content>
</section>