<section layout="row" flex="">
  <md-sidenav md-component-id="left" md-whiteframe="5" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar>
      <h1 class="md-toolbar-tools">CENTROS</h1>
    </md-toolbar>

    <md-list ng-repeat="center in $ctrl.centers" class="ng-scope" layout='row' layout-padding>
      <md-button ng-click="$ctrl.rota(center.state)" layout-align='start center'>{{center.name}}</md-button>
    </md-list>
  </md-sidenav>

  <md-content flex="" >
    <md-toolbar>
      <div class="md-toolbar-tools" md-display-4 ui-view></div>
    </md-toolbar>

    <div layout="column" layout-align="top center">
      <p>
        CONTEÚDO DO CONVERSOR (CENTRO):
      </p>
      <div class="text-content">
        <div flex layout="row" class="md-body-2" ui-view></div>
      </div>
    </div>
  </md-content>
</section>
